@font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: 400;
    src: local("sans-serif"),
        url("/../fonts/Raleway-Medium.ttf") format("ttf"),
}

/* HEADER */

.header {
    font-family: monospace;
}

.header-frame .navbar-brand {
    text-shadow: 2px 2px 2px #000000;
    color: white;
    font-size: 1.5rem;
}

.header-frame .nav-link {
    text-shadow: 2px 2px 2px #000000c4;
    color: #ffffffeb !important;
}

/* MAIN PAGE */

body {
    background-image: url(/view/assets/images/bg_main.jpg);
    background-attachment: fixed;
}

.main {
    font-family: "sans-serif", "Arial", sans-serif;
    border-radius: 0.5rem;
    backdrop-filter: blur(15px);
    padding: 1rem;
    border: white 1px solid;
    margin: 2rem auto;
}

.Zebra_Pagination {
    margin: 2rem auto;
}

.list-row ul {
    list-style: none;
    margin: 0.5rem auto;
}

.list-row ul ul {
    list-style: none;
    margin: 0;
}

.list-row li button {
    background: none;
    border: none;
    text-decoration: underline;
}

.list-row li {
    margin: 0.5rem auto;
}

.list-cat-header {
    font-size: 1.2rem;
}

/* ITEM PAGE */

.main-item {
    background-color: rgb(255 255 255 / 55%);
}

.item-header {
    margin-left: 2rem;
}

.item-title h4 {
    display: block;
    width: 30%;
    text-align: end;
}

.item-title a {
    display: block;
    width: 60%;
}

.item-content {
    margin: 1rem 0;
}

.item-image {
    width: 90%;
    border-radius: 0.25rem;
    object-fit: contain;
}

.item-characters {
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: 1rem auto;
    width: 90%;
    font-weight: 500;
}

.item-characters li {
    display: flex;
    justify-content: space-between;
}

.item-characters li span:nth-child(2) {
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1.1em;
    margin: 0 .4em;
}

.item-button {
    width: 60%;
    margin: 1rem auto;
}

.item-text {
    padding: 2rem;
}

.buy-icon {
    width: 32px;
    height: 32px;
}

/* ADM PAGES */

.main-adm {
    background-color: #f8f9fa;
}